/**
 * dts file for Hisilicon PhosphorHi1382 Soc
 *
 * Copyright (C) 2015,2016 Hisilicon Ltd.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * publishhed by the Free Software Foundation.
 *
 */

/ {
	compatible = "hisilicon,hi1382-evb", "hisilicon,hi1382-umpte", "hisilicon,hi1382-ubppe", "hisilicon,hi1382";
	#address-cells = <2>;
	#size-cells = <2>;
	interrupt-parent = <&gic>;

        psci {
                compatible = "arm,psci-0.2";
                method = "smc";
        };

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu@0 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x20000>;
			enable-method = "psci";
		};

		cpu@1 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x20001>;
			enable-method = "psci";
		};

		cpu@2 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x20002>;
			enable-method = "psci";
		};

		cpu@3 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x20003>;
			enable-method = "psci";
		};

		cpu@4 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x20100>;
			enable-method = "psci";
		};

		cpu@5 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x20101>;
			enable-method = "psci";
		};

		cpu@6 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x20102>;
			enable-method = "psci";
		};

		cpu@7 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x20103>;
			enable-method = "psci";
		};

		cpu@8 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x20200>;
			enable-method = "psci";
		};

		cpu@9 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x20201>;
			enable-method = "psci";
		};

		cpu@10 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x20202>;
			enable-method = "psci";
		};

		cpu@11 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x20203>;
			enable-method = "psci";
		};

		cpu@12 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x20300>;
			enable-method = "psci";
		};

		cpu@13 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x20301>;
			enable-method = "psci";
		};

		cpu@14 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x20302>;
			enable-method = "psci";
		};

		cpu@15 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x20303>;
			enable-method = "psci";
		};

	};

	gic: interrupt-controller@f0000000 {
		compatible = "arm,gic-v3";
		#interrupt-cells = <3>;
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;
		interrupt-controller;
		#redistributor-regions = <1>;
		redistributor-stride = <0x0 0x40000>;
		reg = <0x0 0xf0000000 0x0 0x10000>,	/* GICD */
		      <0x0 0xf0100000 0x0 0x400000>,	/* GICR */
		      <0x0 0xfe000000 0x0 0x10000>,	/* GICC */
		      <0x0 0xfe010000 0x0 0x10000>,     /* GICH */
		      <0x0 0xfe020000 0x0 0x10000>;     /* GICV */
		interrupts = <1 9 0xff04>;

		its: interrupt-controller@f4900000 {
			compatible = "arm,gic-v3-its";
			msi-controller;
			reg = <0x0 0xf4900000 0x0 0x1000000>;
		};
	};

	timer {
		compatible = "arm,armv8-timer";
		interrupts = <1 13 0xff08>,
			     <1 14 0xff08>,
			     <1 11 0xff08>,
			     <1 10 0xff08>;
	};

	pmu {
		compatible = "arm,armv8-pmuv3";
		interrupts = <1 7 4>;
	};

	edaccache {
		compatible = "hisi,hip05-edac-cache";
		poll-delay-ms = <1000>;
	};

	smmu_eth: smmu_eth@fb040000{
		compatible = "arm,smmu-v3";
		reg = <0x0 0xfb040000 0x0 0x20000>;
		interrupt-parent = <&mbigen_eth>;
		interrupts = <0x10823 3 24 6>,
			     <0x10823 3 25 6>,
			     <0x10823 3 26 6>;
		interrupt-names = "eventq", "gerror", "priq";
		#iommu-cells = <1>;
		dma-coherent;
		smmu-cb-memtype = <0xffff 0x1>;
	};

	soc {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;
		ranges = <0x0 0x00000000 0x0 0xffffffff>;

		mbigen_peri: interrupt-controller@f1080000 {
			compatible = "hisilicon,mbigen-v2";
			msi-parent = <&its>;
			interrupt-controller;
			#interrupt-cells = <4>;
			reg = <0xf1080000 0x10000>;
		};

		mbigen_eth: interrupt-controller@fb080000 {
			compatible = "hisilicon,mbigen-v2";
			msi-parent = <&its>;
			interrupt-controller;
			#interrupt-cells = <4>;
			reg = <0xfb080000 0x10000>;
		};

		mbigen_ai: interrupt-controller@fc080000 {
			compatible = "hisilicon,mbigen-v2";
			msi-parent = <&its>;
			interrupt-controller;
			#interrupt-cells = <4>;
			reg = <0xfc080000 0x10000>;
		};

		peri_c_subctrl: sub_ctrl_c@41000000 {
			compatible = "hisilicon,peri-c-subctrl", "syscon";
			reg = <0xf1000000 0x10000>;
		};

		mdio0: mdio@f13c0000 {
			compatible = "hisilicon,hi1382-mdio";
			reg = <0xf13c0000 0x1000>;
			subctrl_vbase = <&peri_c_subctrl>;
			#address-cells = <0x1>;
			#size-cells = <0x0>;

			/* on HI1382 Umpte */
			phy8: ethernet-phy@8 {
				reg = <8>;
				max-speed = <100>;
			};

			/* on HI1382 EVB */
			phy24: ethernet-phy@24 {
				reg = <24>;
				max-speed = <100>;
			};
		};

		gmac0: gmac@fb800000 {
			compatible = "hisilicon,hi1382-gmac";
			#address-cells = <1>;
			#size-cells = <0>;
			phy-mode = "sgmii";
			interrupt-parent = <&mbigen_eth>;
			interrupts = <0x10800 33 0 5 >,
				   <0x10800 33 1 5 >,
				   <0x10800 33 2 5 >,
				   <0x10800 33 3 5 >,
				   <0x10800 33 4 5 >,
				   <0x10800 33 5 5 >,
				   <0x10800 33 6 5 >,
				   <0x10800 33 7 5 >,
				   <0x10800 33 8 5 >,
				   <0x10800 33 9 5 >,
				   <0x10800 33 10 5 >,
				   <0x10800 33 11 5 >,
				   <0x10800 33 12 5 >,
				   <0x10800 33 13 5 >,
				   <0x10800 33 14 5 >,
				   <0x10800 33 15 5 >,
				   <0x10800 33 16 5 >,
				   <0x10800 33 17 5 >,
				   <0x10800 33 18 5 >,
				   <0x10800 33 19 5 >,
				   <0x10800 33 20 5 >,
				   <0x10800 33 21 5 >,
				   <0x10800 33 22 5 >,
				   <0x10800 33 23 5 >,
				   <0x10800 33 24 5 >,
				   <0x10800 33 25 5 >,
				   <0x10800 33 26 5 >,
				   <0x10800 33 27 5 >,
				   <0x10800 33 28 5 >,
				   <0x10800 33 29 5 >,
				   <0x10800 33 30 5 >,
				   <0x10800 33 31 5 >,
				   <0x10800 33 32 5 >;
			dma-coherent;
		};

		pc_sysctrl: system-controller@f1010000 {
			compatible = "hisilicon,hisi-sysctrl", "syscon";
			reg = <0xf1010000 0x10000>;
			linux,phandle = <0x5>;
			phandle = <0x5>;
		};

		djtag0: djtag@0 {
			compatible = "hisilicon,hi1382-djtag";
			syscon = <&pc_sysctrl>;
		};

		llc0: llc@0{
			compatible = "hisilicon,hi1382-llc";
			djtag = <&djtag0 2>;
		};

		usb0: ehci@fcd10000 {
			/* on 1382 we should do extra work: dreq and smmu bypass */
			compatible = "hi1382,generic-ehci";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0xfcd10000 0x10000>;
			interrupt-parent = <&mbigen_ai>;
			interrupts = <0x10420 1 19 5>;
			dma-coherent;
		};

		usb1: ohci@fcd20000 {
			/* on 1382 we should do extra work: dreq and smmu bypass */
			compatible = "hi1382,generic-ohci";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0xfcd20000 0x1000>;
			interrupt-parent = <&mbigen_ai>;
			interrupts = <0x10421 1 20 5>;
			dma-coherent;
		};

		refclk200M: refclk200M {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <200000000>;
			clock-output-names = "refclk";
		};

		serial0: uart@f1300000 {
			compatible = "snps,dw-apb-uart";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0xf1300000 0x10000>;
			interrupt-parent = <&mbigen_peri>;
			interrupts = <0x120c4 1 100 6>;
			clocks = <&refclk200M>;
			clock-names = "apb_pclk";
			reg-shift = <2>;
		};
	};

};
